* {
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}

@font-face {
    font-family: 'StayGirly';
    src: url('../static/Stay-Girly.woff');
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../static/BebasNeue-Regular.woff');
}

@font-face {
    font-family: 'Coolvetica';
    src: url('../static/coolvetica-rg.woff');
}

img {
    max-width:100%;
    max-height: 100%;
    /* height: auto; */
}

.circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-facebook {
    background: #3b5998;
}

.bg-youtube {
    background: #ff0000;
}

.letrero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 800px;
    text-align: center;
    font-style: 'Segoe UI';
    font-size: 30px;
    position: absolute;
    top: 40px;
    left: 50px;
    border-radius: 20px;
    padding-left: 100px;
    z-index: -1;
}

.show.shower {
    animation: fade-in 2s forwards;
}

.show .letrero {
    width: 0px;
    animation: expand 2s 1s forwards;
}

.show .letrero p {
    opacity: 0;
    animation: fade-in 1s 2s forwards;
}

.hide.shower {
    animation: fade-out 2s 2s forwards;
}

.hide .letrero {
    animation: retract 2s .5s forwards;
}

.hide .letrero p {
    opacity: 1;
    animation: fade-out 1s forwards;
}

.show.logos {
    opacity: 0;
    animation: fade-in 1s 5s forwards;
}

.hide.logos {
    opacity: 1;
    animation: fade-out 1s forwards;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes retract {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes expand {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }

}

@keyframes roll-in {
    from {
        transform: scale(0) rotate(-360deg);
        left: calc(50% - 100px);
    }
    to {
        transform: scale(1) rotate(45deg);
        left: calc(50% - 100px);
    }
}

@keyframes roll-out {
    from {
        transform: scale(1) rotate(45deg);
        left: calc(50% - 100px);
    }
    to {
        transform: scale(0) rotate(-360deg);
        left: calc(50% - 100px);
    }
}

@keyframes center-to-pos {
    0% {
        left: calc(50% - 100px);
    }
    100% {
        left: 0%;
    }
}

@keyframes pos-to-center {
    0% {
        left: 0%;

    }
    100% {
        left: calc(50% - 100px);
    }
}

.shower {
    filter: drop-shadow(-1px 6px 3px rgba(0, 0, 0, 0.5));
    position: absolute;
    bottom: 50px;
    left: 50px;
    height: 200px;
    width: 800px;
}

.banner {
    /* filter: drop-shadow(-1px 6px 3px rgba(0, 0, 0, 0.5)); */
    position: absolute;
    bottom: 20px;
    transform: translate(-50%, 0%);
    left: 50vw;
    width: 1200px;
    height: 300px;
    background: transparent;
}

@keyframes blur-ani {
    0% {
        filter: blur(0px);
    }
    50% {
        filter: blur(10px);
    }
    100% {
        filter: blur(0px);
    }
}

.blur-ani {
    animation: blur-ani 10s;
}

.banner-container {
    position: relative;
    height: 100%;

}

@keyframes shadow-logo {
    0% {
        filter: drop-shadow(1px 1px 30px rgba(109,83,242,1));
    }
    50%  {
        filter: drop-shadow(1px 1px 30px rgba(68,221,230,1));
    }
    100% {
        filter: drop-shadow(1px 1px 30px rgba(109,83,242,1));
    }
}

.logo-container {
    position: absolute;
    top: 50px;
    left: 50%;
    border-radius: 20px;
    background: linear-gradient(45deg, rgba(109,83,242,1) 0%, rgba(68,221,230,1) 100%);
    transform: rotate(45deg);
    width: 200px;
    animation: shadow-logo 10s infinite;
}

.logo-banner {
    transform: rotate(-45deg) scale(1.3);
    filter: drop-shadow(-1px 6px 3px rgba(0, 0, 0, 0.5));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.banner .main {
    position: absolute;
    top: 0;
    left: 100px;
    z-index: -1;
    /* width: 1100px; */
    width: 0;
    height: 100%;
    /* filter: drop-shadow(1px 1px 20px rgba(109,83,242,1)); */
}

.banner .main .titulo {
    position: absolute;
    border-radius: 0px 20px 20px 0px;
    top: 40px;
    width: 100%;
    height: 180px;
    background: linear-gradient(90deg, rgba(83,123,242,1) 0%, rgba(68,221,230,1) 100%);
    box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}

.live-online {
    font-size: 85px;
    font-family: 'StayGirly';
    text-shadow: 5px 5px 10px rgba(0,0,0,.8);
    letter-spacing: 3px;
    padding-left: 180px;
}

.encabezado {
    font-family: 'Montserrat';
    text-shadow: 5px 5px 10px rgba(0,0,0,.8);
    position: absolute;
    top: 0px;
    right: 20px;
    background: linear-gradient(90deg, rgba(83,123,242,1) -80%, rgba(68,221,230,1) 100%);
    box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.5);
    padding: 15px 80px;
    border-radius: 20px;
    font-size: 28px;

    opacity: 0;
}

.contacto-container {
    width: 1000px;
}

.contacto {
    position: absolute;
    max-width: 1000px;
    bottom: 40px;
    background: linear-gradient(90deg, rgba(83,123,242,1) 0%, rgba(68,221,230,1) 100%);
    box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.5);
    padding: 15px 80px;
    text-align: center;
    font-family: 'Montserrat';
    text-shadow: 5px 5px 10px rgba(0,0,0,.8);
    border-radius: 20px;
    font-size: 28px;
    opacity: 0;
}

.show.banner .main span {
    opacity: 0;
    animation: fade-in 2s 5s forwards;
}

.show .logo-container {
    animation: roll-in 2.5s, center-to-pos 2s 2.5s forwards, shadow-logo 5s infinite;
}

.banner.show .main {
    animation: expand 2s 4.5s forwards;
}

.show .encabezado {
    animation: fade-in 2s 5s forwards;
}

.show .contacto {
    animation: fade-in 2s 5s forwards, expand 5s 3.2s forwards;
}

.hide.banner .main span {
    opacity: 1;
    animation: fade-out 1s forwards;
}

.hide.banner .main {
    width: 100%;
    opacity: 1;
    animation: fade-out 2s forwards;
}

.hide .logo-container {
    left: 0;
    animation: roll-out 2.5s 3.5s forwards, pos-to-center 2s 1.5s forwards, shadow-logo 5s infinite;
}

.full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.inicio {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue';
    text-shadow: 5px 5px 10px rgba(0,0,0,.8);
    text-align: center;
}

.inicio h1 {
    font-size: 100px;
}

.inicio h2 {
    font-size: 80px;
}

.blur {
    filter: blur(2px);
}

.logos {
    filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.5));
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 250px;
    height: 100px;
    display: inline-flex;
    align-items: center;
}

.logo-inicio::after {
    position: absolute;
    left: 50%;
    top: 10%;
    content: "";
    height: 80%;
    border-right: 2px dashed #fff;
}

.logo-inicio {
    /* height: 100%; */
    min-width: 50%;
    display: flex;
    justify-content: center;
}

.logo-inicio img {
    max-width: auto;
    padding: 0px 20px;
}

.logo-movimiento {
    min-width: 50%;
    padding: 0px 20px;
}

.timer {
    position: absolute;
    top: 55%;
}
