* {
    margin: 0;
    box-sizing: border-box;
    transition: all 1s;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #16161a;
    color: #fffffe;
    padding: 10px;
}

table {
    width: 300px;
    max-width: 300px;
}

.activador {
    border-radius: 10px;
    margin: 10px;
    width: 80px;
    height: 80px;
}

.btn-facebook {
    background: #4267B2;
    color: #fff;
}

.checked, .changer-active {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-facebook:hover {
    background: #365696;
    color: #fff;
}

tbody th {
    text-align: center;
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 24px;
}

td {
    padding: 10px 5px;
    text-align: center;
}

.centered {
    width: 0;
}

.hide-progressbar {
    animation: retract 2s forwards;
}

.show-progressbar {
    animation: expand 2s forwards;
}

@keyframes retract {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}

@keyframes expand {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }

}

.progress-container {
    width: 40vw;
}

.banner-switch {

}
